:root {
  --page-color: #0E2F44;
  --lightest-text-color: aliceblue;
  --light-text-color: #D7EFFF;
  --accent-color: #091E2C;
  --corner-radius: 10px;
  --big-padding: 1rem;
  --med-padding: 0.66rem;
  --outline-color: #93C2CC;
  --fontie: Rockwell;
  
}

body {
  background-color: var(--page-color);
  font-family: var(--fontie);
  color: var(--lightest-text-color);
  padding: 1rem;
  font-size: 1.5rem;
}

mid {
  padding-top: 3rem;
  display: block;
  color: #c3cee6;
  text-align: center;
}

h1 {
  color: var(--lightest-text-color);
  font-size: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: var(--accent-color);
  padding-bottom: 2rem;
  text-align: center;
}

h2 {
  color: aliceblue;
  text-align: center;
}

sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  height: 100%;
  background-color: #c3cee6;
  position: fixed;
  overflow: auto;
}

sidebar a {
  display: block;
  color: #0B2637;
  text-align: center;
  padding: 10px;
  padding-top: 25px;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  border: 4px outset #93c2cc;
  width: 40%;
}

city {
  color: aliceblue;
  display: block;
  /*padding: 0 65px 0 0;*/
  width:100%;
  text-align: center;
  font-size: 4rem;
  background-color: #22465D;
}

div {
  padding: 1rem;
  color: lightblue;
  width: 80%;
  text-align: center;
  border: 4px outset #93c2cc;
}

p {
  font-family: "Times New Roman", Times, serif;
}

.grid {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-left: 150px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Closable button inside the container tab */
.closebtn {
  float: right;
  color: #CEDBE3;
  font-size: 35px;
  cursor: pointer;
}

move {
  display: block;
  width: 50%;
  margin: auto;
  padding-left: 150px;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color:steelblue;
}

.homebox {
  background-color: var(--accent-color);
  margin-top: 15px;
  margin-bottom: 10px;
  padding: var(--med-padding) var(--big-padding);
  color: aliceblue
}

/* for iPhone X */
@media only screen 
    and (max-width: 375px) 
    and (max-height: 812px) {
  .item { 
    flex: 1 0 50%;
  }
  .dropitem { 
    flex: 1 0 50%;
    padding: .75rem;
    margin-top: .25rem;
  }
  .box11 {
    margin-top: 3rem;
  }
  
  .box12 {
    margin-top: 9rem;
  }

  .box21 {
    padding-top: 7rem;
  }

  .box22 {
    padding-top: 3rem;
  }

  .container {
    height: 10%;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    margin-left: -10rem;
    margin-right: -10rem;
  }

  .dropbutton {
    font-size: 1rem;
    padding: 3px;
    width: 75%;
  }

  .dropitem {
    font-size: 1rem;
    flex: 1 0 50%;
    margin: -4rem;
  }
  .dropdown {
    margin-top: -5rem;
  }
}

/* for iPad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .item { 
    flex: 1 0 50%;
  }
  .dropitem { 
    flex: 1 0 50%;
    padding: .75rem;
    margin-top: .25rem;
  }
  .box11 {
    margin-top: 3rem;
  }
  
  .box12 {
    margin-top: 9rem;
  }

  .box21 {
    padding-top: 7rem;
  }

  .box22 {
    padding-top: 3rem;
  }

  .container {
    height: 10%;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    margin-top: 5rem;
    margin-left: -10rem;
    margin-right: -10rem;
  }

  .dropbutton {
    font-size: 1rem;
    padding: 3px;
    width: 75%;
  }

  .dropitem {
    font-size: 1rem;
    flex: 1 0 50%;
    margin: -4rem;
  }
  .dropdown {
    margin-top: -5rem;
  }
}

/* desktop is how we've had before */
@media only screen and (min-device-width: 992px) {
}
