:root {
    --primary-color: rgb(40, 62, 102);
    --accent-color: rgb(152, 185, 133);
    --accent-color-dark: rgba(226, 77, 54, 1);
    --accent-color: rgba(89, 110, 166, 1);
    --accent-color-dark: rgba(71, 88, 133, 1);
    --dark-color: rgb(30, 30, 43);
    --font: Copperplate;
  }
  p, ol li, ul li {
    font-size: calc(0.8rem + 1vw);
  }
  /* -- ELEMENTS -- */
  .hero {
    background: var(--dark-color);
    color: white;
    padding: calc(1rem + 8vh) calc(1rem + 3vw) calc(3rem + 10vh) calc(1rem + 3vw);
  }
  .hero h1 {
    font-size: calc(1rem + 5vw);
    background: none;
    margin: 0px;
  }
  .hero p {
    margin: 0px 1.5rem;
    color: #ccc;
  }
  .btn {
    border: 1px solid var(--accent-color);
    display: inline-flex;
    font-size: calc(1rem + 0.6vw);
    cursor: pointer;
    padding: var(--padding-med) var(--padding-lg);
    border-radius: var(--border-radius);
    background: var(--accent-color);
    color: white;
    user-select: none;
    margin: 0px 0.25rem 0.75rem 0px;
  }
  .btn:hover {
    background: var(--accent-color-dark);
  }
  .btn.small {
    font-size: calc(0.5rem + 0.5vw);
    padding: 0.4rem 0.8rem;
  }
  .btn.large {
    font-size: calc(1.2rem + 1.4vw);
    padding: var(--padding-lg) var(--padding-xxl);
  }

  .btn.large.temp {
      align-items: center;
      background: var(--accent-color);
  }
  .btn.outline {
    background: rgba(240, 239, 234, 1);
    border: 1px solid var(--dark-color);
    color: #333;
  }
  .btn.primary {
    background: var(--accent-color);
    color: white;
  }

  