<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>-- under construction --</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 6 Deliverable">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
  </head>

  <body>
    <div class="homebox">
      <a href="/project">back to project</a>
    </div>

    <h2> Explore down below to find out more about BallBuddy!</h2>
    <p><iframe width="640" height="360" src="https://www.youtube.com/embed/Phn1mahzPMY"></iframe></p>

    <p><img src="\pics\ballbuddy.JPG" class="center" alt="hand holding up BallBuddy project with a duct tape seal" width="500"></p>
    
  </body>
 
</html>