<!doctype html>


<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>c.e. landing page</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 6 Deliverable">
    <link rel="stylesheet" type="text/css" href="css/class.css">
  </head>

  <body>
    <div class="homebox">
      <a href="/">home</a>
    </div>
    <h1>ece 140b</h1>



          <table class="center">
        <tbody>
        <tr style="background-color: #252b30">
        <td style="color: #ffffff">Name</td><td style="color: #ffffff">Team</td><td style="color: #ffffff">Website</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Altov, Vladimir</td><td>Flint Tropics</td><td><a href="http://143.198.73.78">143.198.73.78</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Ardebilianfard, Sepehr</td><td>Tri-tech Bros</td><td><a href="http://165.232.131.14:3001">http://165.232.131.14:3001</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Arestakesyan, Ankeen</td><td>Ruff riders</td><td><a href="144.126.210.32">144.126.210.32</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Bailon, Felipe</td><td>Industrial Illusions</td><td><a href="143.198.136.37">143.198.136.37</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Ball, Joshua</td><td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Bian, Jiazheng</td><td>Look at yourself</td><td><a href="http://www.biandavid.com/">http://www.biandavid.com/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Bissett, Christian</td><td>I deleted my droplet and made a new one because I lost the ssh keys</td><td><a href="165.232.135.73:6543">165.232.135.73:6543</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Chen, James</td><td>Sentinel</td><td><a href="143.198.57.119">143.198.57.119</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Dastider, Gourab</td><td>Recipe Master</td><td><a href="http://144.126.215.62/">http://144.126.215.62/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Embucado, Chaztine-Xiana</td><td>SmartRepz / SmartSpherez</td><td><a href="143.198.59.27">143.198.59.27</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Ganesh, Ashwin</td><td>SmartSpherez</td><td><a href="161.35.237.205">161.35.237.205</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Guan, Tony</td><td>Everybody Loves Ramsin </td><td><a href="143.198.76.115">143.198.76.115</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Gudetti, Jacinth</td><td>Everybody Loves Ramsin</td><td><a href="http://143.198.97.209/">http://143.198.97.209/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Gustafson, Bret</td><td>Tri-Tech Bros</td><td><a href="http://143.110.153.51/">http://143.110.153.51/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Hanna, Aaron</td><td>Tri-Tech Bros</td><td><a href="http://144.126.212.235/">http://144.126.212.235/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Hernandez, Andrew</td><td>Recipe Master</td><td><a href="http://www.cvwebring.com/">http://www.cvwebring.com/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Hsu, Anwar</td><td>teambigbrain</td><td><a href="anwarhsu.com">anwarhsu.com</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Htoo, Myo</td><td>EZTrader</td><td><a href="http://143.110.229.54/">http://143.110.229.54/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Huang, Eddie</td><td>Kyte (Browse2gether)</td><td><a href="eddieh00.com">eddieh00.com</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Huang, Hanjie</td><td>Industrial Illusion</td><td><a href="http://161.35.229.252/">http://161.35.229.252/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Huang, Isis</td><td>Team Big Brains</td><td><a href="http://64.227.107.46/">http://64.227.107.46/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Hussain, Tanvir</td><td>EZ Trader</td><td><a href="http://128.199.10.10/">http://128.199.10.10/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Johnson, Kimberly</td><td>Ruff Ryders</td><td><a href="43.198.71.181">43.198.71.181</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Kaharudin, Jason</td><td>RepairBoiz</td><td><a href="178.128.96.97">178.128.96.97</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Kahr, Andrew</td><td>Sentinel</td><td><a href="165.232.131.189">165.232.131.189</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Kim, Iris</td><td>SmartSpherez</td><td><a href="http://143.198.136.173/">http://143.198.136.173/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Kim, Jake</td><td>CCJ</td><td><a href="128.199.3.204">128.199.3.204</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Kim, Stephen</td><td>Flint Tropics</td><td><a href="http://kimsternator.games/">http://kimsternator.games/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Koshmerl, Damon</td><td>Kyte</td><td><a href="143.198.111.59">143.198.111.59</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Kragh, Mark</td><td>Recipe Master</td><td><a href="http://167.99.122.242/">http://167.99.122.242/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Lee, Charles</td><td>Sentinel</td><td><a href="http://35.185.251.8/">http://35.185.251.8/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Liu, Zhenwei</td><td>Look At Yourself</td><td><a href="164.90.144.9">164.90.144.9</a>7</td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Malgeri, John</td><td>Everybody Loves Ramsin</td><td><a href="161.35.228.30">161.35.228.30</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Manalad, Christian</td><td>CCJ</td><td><a href="http://165.232.141.195/">http://165.232.141.195/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Montenegro, Hector</td><td>EZ Trader</td><td><a href="http://165.232.152.55/">http://165.232.152.55/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Nazemi, Ariane</td><td>Industrial Illusions</td><td><a href="http://143.198.236.89/">http://143.198.236.89/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Noble, Emerson</td><td>Repair Boiz</td><td><a href="http://143.110.234.12/">http://143.110.234.12/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>On, Dong</td><td>Team Big Brains</td><td><a href="128.199.15.251">128.199.15.251</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Park, Seok</td><td>&nbsp;</td><td>&nbsp;</td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Raha, Anjuman</td><td>Everybody Loves Ramsin</td><td><a href="161.35.239.252">161.35.239.252</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Sanchez, Manuel</td><td>Flint Tropics</td><td><a href="165.232.153.255">165.232.153.255</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Tang, Chonghao</td><td>CCJ</td><td><a href="165.232.157.102">165.232.157.102</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Taufek, Muhammad</td><td>EZ Trader</td><td><a href="http://adibece140b.codes/">http://adibece140b.codes/</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Tong, Hung</td><td>Industrial Illusions</td><td><a href="http://161.35.54.86/">http://161.35.54.86/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Villegas, Carl</td><td>Sentinel</td><td><a href="143.198.59.67">143.198.59.67</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Yang, Frederick</td><td>Recipe Master</td><td><a href="143.198.232.38">143.198.232.38</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Yim, Aaron</td><td>Kyte</td><td><a href="165.232.143.129">165.232.143.129</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Younessi, Kasra</td><td>Team Big Brains</td><td><a href="http://64.227.108.249/">http://64.227.108.249/</a></td>
        </tr>
        <tr style="background-color: #ffffff">
        <td>Zhang, Hang</td><td>Repair Boyz</td><td><a href="144.126.221.136">144.126.221.136</a></td>
        </tr>
        <tr style="background-color: #f0f0f0">
        <td>Zhang, Siyuan</td><td>look at yourself</td><td><a href="143.198.98.101">143.198.98.101</a></td>
        </tr>
        </tbody></table>
</html>