<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>-- under construction --</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 7 Deliverable">

    <link rel="stylesheet" type="text/css" href="css/first.css">
  </head>

  <body>
    <div class='btn largetemp'>
      cv coming soon (:
    </div>
  </body>
</html>

