<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>-- under construction --</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 6 Deliverable">
    <link rel="stylesheet" type="text/css" href="css/first.css">
    <!-- <script>"/css/home.js"</script> -->
  </head>

  <body>
    <section>
      <p><a href="/welcome" class="button">welcome! click here to sign in</a></p>
      <p><a href="/about" class="button">learn more about us</a></p>
      <p><a href="/get_cv" class="button">cv</a></p>
      <p><a href="/get_avatar" class="button">avatar</a></p>
      <p><a href="/get_project" class="button">project</a></p>
    </section>
  </body>

  <script>
    function buttAlert() {
      alert("thanks for visiting, see you soon!");
    }
  </script>
</html>