<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>c.e. landing page</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 6 Deliverable">
    <link rel="stylesheet" type="text/css" href="css/home.css">
  </head>

  <body>
    <h1>
      <p>
        <em>HELLO!</em>
      </p>
    </h1>

    <section class='grid'>
      <div class="box11">
          click below for my links     
      </div>
      <div class="box12">click below for my teammates' resumes</div>
      <div class="box21">
        <p><a href="/get_cv" class="button">my CV</a></p>
        <p><a href="/about" class="button">my current project (ece140b)</a></p>      
        <p><a href="/welcome" class="button">guestbook</a></p>
      </div>
      <div class="box22">
        <p><a href="http://143.198.136.173/cv" class="button">Iris</a></p>
        <p><a href="/about" class="button">Ashwin</a></p>
    </section>
    
  </body>

  <script>
    function buttAlert() {
      alert("thanks for visiting, see you soon!");
    }
  </script>
</html>