<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>-- under construction --</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="pls work lmao">

    <link rel="stylesheet" type="text/css" href="css/welcome.css">
    <!-- <script src="cv.js"></script> -->
  </head>
    <body>

      <div class="homebox">
        <a href="/cv">back to cv</a>
      </div>

        <table>
        <thead>
          <tr>
            <th class='small'> First Name </th>
            <th class='medium'> Last Name </th>
            <th class='large'> Email </th>
          </tr>
        </thead>
        <tbody>
          {% for person in personal %}
          <tr>
            <td> {{person[0]}} </td>
            <td> {{person[1]}} </td>
            <td> {{person[2]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
</html>