<!doctype html>
<html>
    <body>
        <table>
        <thead>
          <tr>
            <th> title </th>
            <th> description </th>
            <th> link </th>
            <th> image_src </th>
            <th> team </th>
          </tr>
        </thead>
        <tbody>
          {% for prj in project %}
          <tr>
            <td> {{prj[0]}} </td>
            <td> {{prj[1]}} </td>
            <td> {{prj[2]}} </td>
            <td> {{prj[3]}} </td>
            <td> {{prj[4]}} </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
</html>