<!doctype html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Page Info -->
        <title>-- under construction --</title>
        <meta name="author" content="Chaztine Embucado">
        <meta name="description" content="pls work lmao">
    
        <link rel="stylesheet" type="text/css" href="css/cv.css">
        <!-- <script src="cv.js"></script> -->
      </head>
    <body>
        <iframe src="/CEresume.pdf" width="100%" height="1200px"></iframe>
    </body>
</html>