<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Page Info -->
    <title>guestbook!</title>
    <meta name="author" content="Chaztine Embucado">
    <meta name="description" content="ECE140B Week 6 Deliverable">
    <link rel="stylesheet" type="text/css" href="css/welcome.css">
    <script>"/js/help.js"</script>
  </head>

  <body>
    <div class="homebox">
      <a href="/">home</a>
    </div>
    <h1>Welcome to the guestbook!</h1>
      <section class='grid'>
        <div class="column1">
          <table>
            <thead>
              <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Email </th>
              </tr>
            </thead>
            <tbody>
              {% for guest in guestbook %}
              <tr>
                <td> {{guest[0]}} </td>
                <td> {{guest[1]}} </td>
                <td> {{guest[2]}} </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="column2">
  
        <p id="message"><h2>Want ato add yourself to the guestbook?</h2></p>
        <p><label for="first_name">First name:</label></p>
        <p><input type="text" name="first_name" id="first_name"></p>
        <p><label for="last_name">Last name:</label></p>
        <p><input type="text" name="last_name" id="last_name"></p>
        <p><label for="email">Email:</label></p>
        <p><input type="text" name="email" id="email"></p>
        <p><label for="comment">Comment:</label></p>
        <p><input type="text" name="comment" id="comment"></p>
        <button id='guest' onclick='document.getElementById("message").innerHTML="thanks for visiting, see you soon!"'>SUBMIT</button>
        </div>
      </section>
      
    </body>
  
    <script>
  //     document.addEventListener("DOMContentLoaded",(event) => {
  //     console.log('new content!')
  //     function addGuest() {
  //         var gFName = document.getElementById("first_name").value;
  //         var gLName = document.getElementById("last_name").value;
  //         var gEmail = document.getElementById("email").value;
  //         var gComment = document.getElementById("comment").value;

  //         var gNew =  '{"first_name": ' + '"' +gFName+ '"' + ', "last_name": ' + '"'+ gLName + '"' + ', "email": ' + '"'+ gEmail + '"' + ', "comment": ' + '"'+ gComment + '"' + '}';
          
  //         console.log(gNew);
          
  //         fetch('http://localhost/add_guest', {
  //             method: 'POST',
  //             headers: {
  //                 'Content-Type': 'application/json',
  //             },
  //             body: JSON.stringify(gNew),
  //         })
  //         .then(response => response.json())
  //         .then(gNew => {
  //         console.log('Success:', gNew);
  //         })
  //         .catch((error) => {
  //         console.error('Error:', error);
  //         });
  //     }
  //     var submitGuest = document.getElementById("guest");
  //     submitGuest.addEventListener('click', addGuest);    
  // });

      function buttAlert() {
        alert("thanks for visiting, see you soon!");
      }
    </script>
</html>